.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh
}

p {
    max-width: 92ch;
    /* font-size: 0.75em; */
    font-size: 1em;
/*    font-family: sans-serif;*/
    /* font-family:  "Verdana", sans-serif; */
    font-family: "Gerorgia", serif;
/*    text-align: justify; */
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}

a:hover, a:active {
    background-color: LightGray;
}
h1,h2,h3,h4 {
    /* max-width: 80ch; */
    max-width: 92ch;
    font-family: sans-serif;
    text-align: left;
    /* font-family:  "Verdana", sans-serif; */
    font-family: "Gerorgia", serif;
}

img {
    display: block;
    mad-width: auto;
    height: auto;
    align-items: left;
    flex:1 0 15em;
    min-width: 15em;
    max-width:700px;
}

ul ol {
    align-items: left;
}

li {
    max-width: 92ch;
    font-size: 1em;
    /* font-size: 0.75em; */
    /* font-family:  "Verdana", sans-serif; */
    /* font-family:  "Verdana", sans-serif; */
    font-family: "Gerorgia", serif;
}

#TopBar p {
    max-width: 92ch;
    font-size: 1em;
/*    font-family: sans-serif;*/
    font-family: "Verdana", "sans-serif";
/*    text-align: justify; */
}

#TopBar li {
    text-transform: uppercase;
}

#Main {
	  padding: 0px;
	  border: 0px dotted gray;
	  position: relative; 
      margin-left: 0px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-top: 0px;
	  width: 700px;
}

